# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
venv/

# dependencies
node_modules
**/.vscode/

# misc
npm-debug.log*

# vscode
*.code-workspace
.vscode

# playwright
.auth
test-results
playwright-report
playwright/.cache/
.cache/
